main h2 {
    margin-right: 8%;
    text-align: center;
}

main {
    display: grid;
    grid-row: 2;
    height: 75vh;
    padding-bottom: 15px;
}

article{
    display: flex;
    justify-content: center;
}

article p {
    text-align: center;

}

#body {
    vertical-align: middle;
}

input[type="submit"] {
    background-color: #476e82; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    position: relative;
    left: 170px;
}
input[type="reset"] {
    background-color: #476e82; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    position: relative;
    left: 170px;
}

footer {
    height: 10vh;
}

/* Media Queries */

/* Small screens (below 590px) */
@media (max-width: 590px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* Medium screens (590px - 790px) */
@media (min-width: 591px) and (max-width: 790px) {
    main {
        margin-left: 15%;
        margin-right: 15%;
    }
}