main h2 {
    margin-right: 8%;
    text-align: center;
}

main {
    display: grid;
    grid-row: 2;
    height: 75vh;
    padding-bottom: 15px;
}

article{
    display: flex;
    justify-content: center;
}

article p {
    text-align: center;

}

#body {
    vertical-align: middle;
}

input[type="submit"] {
    background-color: #476e82; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    position: relative;
    left: 170px;
}
input[type="reset"] {
    background-color: #476e82; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    position: relative;
    left: 170px;
}

footer {
    height: 10vh;
}

/* Media Queries */

/* Small screens (below 590px) */
@media (max-width: 590px) {
    /* Common adjustments for all pages */
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    header {
        display: flex;
        flex-direction: column; /* Display header items vertically */
        align-items: center; /* Center align header items */
    }
    
    header nav {
        margin: 10px 0; /* Add margin to the navigation */
    }

    .hamburger-menu {
        display: block; /* Ensure hamburger menu is visible */
    }

    nav {
        display: flex;
        flex-direction: column; /* Display menu items vertically */
        align-items: center; /* Center align menu items */
    }

    nav a {
        margin: 5px 0; /* Add margin to menu items */
    }

    /* Adjustments specific to the contact page */
    main h2 {
        text-align: center; /* Center the heading */
        margin-bottom: 10px; /* Add margin below the heading */
    }

    article p {
        margin-bottom: 10px; /* Add margin between paragraphs */
    }

    input[type="submit"],
    input[type="reset"] {
        margin-left: auto;
        margin-right: auto;
        display: block; /* Center align form buttons */
    }
}


/* Medium screens (590px - 790px) */
@media (min-width: 591px) and (max-width: 790px) {
    main {
        margin-left: 15%;
        margin-right: 15%;
    }
}